.articlesList {
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.articleFooter {
    background-color: #f39017;
    color: white;
    padding: 5px;
}

.footerItem {
    padding: 5px;
}

.articleTitle {
    color: #52a7f9;
}